.carousel-control-prev,.carousel-control-next{
    width: unset;
}

.card-shop {
    overflow: hidden;
    height: 25ch;
}

.card .bi-heart {
    color: red;
}

.img-offset {
    margin-top: 12ch;
    margin-left: 15ch;
}

.badge-custom {
    top: 3ch;
    left: 7.5ch;
}