.text-primary {
    color: hsl(270, 100%, 30%) !important;
}

.bg-primary {
    background-color: hsl(270, 100%, 30%) !important;
}

.btn-primary {
    border-color: hsl(270, 100%, 30%) !important;
    background-color: hsl(270, 100%, 30%) !important;
}

.btn-primary:hover {
    background-color: hsl(270, 100%, 20%) !important;
}

/* icon */
.bi-box-seam {
    font-size: 4rem;
    color: orangered;
}

.carousel-control-prev,.carousel-control-next{
    width: unset;
}

.card-shop {
    height: 35ch;
    position: relative;
}

.card-info {
    height: 35ch;
    position: relative;
}

.card-radius {
    border-radius: 1.5rem;
}

.card-food-header {
    /* height: 42ch; */
    position: relative;
}

.card-food-offset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.card-beverages-offset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.card-beverages-offset h3 {
    position: relative;
    right: 2ch;
}

.card-food {
    /* height: 42ch; */
}

.card .bi-heart {
    color: red;
}

.img-offset {
    position: absolute;
    bottom: 0%;
    right: 0%;
    object-fit: fill;
}

.badge-trending {
    top: 3ch;
    left: 7.5ch;
}

.badge-info-1 {
    top: 18ch;
    left: 14ch;
}

.badge-info-2 {
    top: 25.5ch;
    left: 12ch;
}

/* lg */
@media screen and (max-width: 992px) {
    .daftarproduk-lg{
        flex-wrap: nowrap;
        overflow-x: auto;
        padding: 1rem 0;
        column-gap: 1rem;
    }

    .daftarproduk-lg > *{
        width: unset;
    }

    .daftarproduk-lg .card{
        width: 20ch;
    }
}

/* md */
@media screen and (max-width: 768px) {
    .daftarproduk-md{
        flex-wrap: nowrap;
        overflow-x: auto;
        padding: 1rem 0;
        column-gap: 1rem;
    }

    .daftarproduk-md > * {
        width: unset;
    }

    .daftarproduk-md .card{
        width: 20ch;
    }

    .boxitem-md {
        flex-wrap: nowrap;
        overflow-x: auto;
        padding: 1rem 0;
        column-gap: 1rem;
    }

    .boxitem-md > * {
        width: unset;
    }

    .boxitem-md .card {
        width: 50ch;
    }
}

/* xsm */
@media screen and (max-width: 576px) {
    .boxitem-xsm {
        flex-wrap: nowrap;
        overflow-x: auto;
        padding: 1rem 0;
        column-gap: 6rem;
    }
}